Inventory_old/DynamicService/Service References/ms/InventoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Org.Softech.Inventory.Business.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Org.Softech.Inventory.Business.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPOCreditPeriod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POCreditPeriod" nillable="true" type="tns:POCreditPeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPOCreditPeriod" nillable="true" type="tns:ArrayOfPOCreditPeriod" />
  <xs:complexType name="POCreditPeriod">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditAmount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CreditPercent" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="InvPo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="NoOfDays" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Oid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="POCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POCreditPeriod" nillable="true" type="tns:POCreditPeriod" />
  <xs:complexType name="ArrayOfPurchaseOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrder" nillable="true" type="tns:PurchaseOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseOrder" nillable="true" type="tns:ArrayOfPurchaseOrder" />
  <xs:complexType name="PurchaseOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Advance" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AdvancePayment" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApprovedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson1Cell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson2Cell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditPeriod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveryTerms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="DiscountPercent" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Freight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="InsertCreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InsertUserID" type="xs:long" />
      <xs:element minOccurs="0" name="InvActivity" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvStores" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvTransactionType" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvVendors" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRejected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Isclosed" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Narration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PaymentTerms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Post" type="xs:boolean" />
      <xs:element minOccurs="0" name="PostDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PreparedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PtclNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REQ_QUOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefNo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionTYpeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateCreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateUserID" type="xs:long" />
      <xs:element minOccurs="0" name="VendorAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorFaxNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrder" nillable="true" type="tns:PurchaseOrder" />
  <xs:complexType name="ArrayOfItemDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemDetail" nillable="true" type="tns:ItemDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemDetail" nillable="true" type="tns:ArrayOfItemDetail" />
  <xs:complexType name="ItemDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableQty" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeadDays" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimatedUnitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="ExpiryRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="GenericName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HODDetailApproval" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvItemLevel" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvItemUnit" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvManufacturer" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvManufacturerType" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Inv_Item_Value_Nature" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemBalance" type="xs:double" />
      <xs:element minOccurs="0" name="ItemOid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LeastQty" type="xs:long" />
      <xs:element minOccurs="0" name="ManufacturerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxQty" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinQty" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Oid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Post" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RackNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReOrderLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReOrderQty" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedQty" type="xs:int" />
      <xs:element minOccurs="0" name="RetailPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SlowDays" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pNoOfDigits" type="xs:int" />
      <xs:element minOccurs="0" name="pParentCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pSymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unitString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemDetail" nillable="true" type="tns:ItemDetail" />
  <xs:complexType name="ArrayOfItemUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemUnit" nillable="true" type="tns:ItemUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemUnit" nillable="true" type="tns:ArrayOfItemUnit" />
  <xs:complexType name="ItemUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="BarCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BarCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BarCode3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvItemDetail" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvItemUnitType" type="xs:long" />
      <xs:element minOccurs="0" name="IsLeaf" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Oid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ParentOid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="QtyInParent" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitSymbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemUnit" nillable="true" type="tns:ItemUnit" />
  <xs:complexType name="StoreTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_POE" type="xs:boolean" />
      <xs:element minOccurs="0" name="BillDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BillNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CinBillingAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CinEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CinShippingAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerNameForCashSale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPoReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DistributorCustOid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="FreightGLCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GatePassNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertCreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InsertUserID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvActivity" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvBillingAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvMaterialInspection" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvPO" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvShippingAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvStoreTransaction" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvStores" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvTransactionType" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvVendors" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="IsConsignment" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ListStoreTransactionDetail" nillable="true" type="tns:ArrayOfStoreTransactionDetail" />
      <xs:element minOccurs="0" name="MINCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MRNNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MagentoCustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PartyGLCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post" type="xs:boolean" />
      <xs:element minOccurs="0" name="PostDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REFCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipDestination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxGLCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToInvStore" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:long" />
      <xs:element minOccurs="0" name="TransCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateCreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateUserID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="VendorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="costCenter" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreTransaction" nillable="true" type="tns:StoreTransaction" />
  <xs:complexType name="ArrayOfStoreTransactionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoreTransactionDetail" nillable="true" type="tns:StoreTransactionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoreTransactionDetail" nillable="true" type="tns:ArrayOfStoreTransactionDetail" />
  <xs:complexType name="StoreTransactionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="AvailableQty" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostCenter" type="xs:long" />
      <xs:element minOccurs="0" name="DC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FocQty" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="FreightCartage" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GatePassNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenericName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HODApprovalStatus" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="InvActivity" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvItemDetail" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvItemUnit" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvMaterialInspection" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvPO" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvRequisition" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvStoreTransaction" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvStoreTransactionParent" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvStores" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvStoresTransaction" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvTaxType" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvTransactionType" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InvVendors" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="IsConsignment" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsExpiryRequired" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="IsHODApprovalReq" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="IsStoreEffective" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="IssuanceRate" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ItemUnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MRNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="POCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post" type="xs:boolean" />
      <xs:element minOccurs="0" name="PostDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qty" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarkss" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedQty" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="RequisitionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetQty" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="RetailPrice" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ST_MEDICINE_DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SirCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreEffectValue" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="TransCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransferQTY" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="VendorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="inv_stock_adjustment_reasons" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="pItemGLCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pTaxValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreTransactionDetail" nillable="true" type="tns:StoreTransactionDetail" />
  <xs:complexType name="ArrayOfStoreTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoreTransaction" nillable="true" type="tns:StoreTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoreTransaction" nillable="true" type="tns:ArrayOfStoreTransaction" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChargeToGl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlCodeOnly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HODApprovalReq" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvItems" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="IsLeaf" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemLevel" type="xs:long" />
      <xs:element minOccurs="0" name="ItemNature" type="xs:long" />
      <xs:element minOccurs="0" name="ItemNatureDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Method" type="xs:long" />
      <xs:element minOccurs="0" name="MethodDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ParentCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
</xs:schema>